.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.main-page {
  height: 100vh;
  margin-top: 2rem;
}
